<!DOCTYPE html>
<html>
<head>
    <title>Quizz du dimanche</title>
    <meta charset="UTF-8">
</head>
<header>
    <a href="{% url 'home' %}">Accueil</a>
    <a href="{% url 'quizz' %}">Quizz</a>
</header>

<body>
<h1>Quizz du dimanche !</h1>
<h2>Préparez vous aux quesfions !</h2>
{% block content %} {% endblock content %}

</body>

</html>