{% extends "base.html" %}

{% block content %}
<h1>A toi de jouer FDP !</h1>
<form action="{% url 'result' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="name">Pseudo :</label>
        <input type="text" id="name" name="user_name" required>
    </div>

    <ul>
        {% for q in questions %}
        <!--{% autoescape off %}-->
        <li>{{q.question}}</li>
            <fieldset id="{{q.question}}">
                {% for i in q.answers %}
                <div>
                    <input type="radio" id='{{i}}' value="{{i}}" name="{{q.question}}" required>
                    <label for="{{i}}">{{i}}</label>
                </div>
                {% endfor %}
            </fieldset>
        <!--{% endautoescape %}-->
        {% endfor %}
    </ul>
    <input type="hidden" value="{{json}}" name="questions">
    <div>
        <button type="submit">Valider</button>
    </div>
</form>

{% endblock content %}