{% extends "base.html" %}

{% block content %}
<h1>Vous êtes chibré {{user_name}}</h1>
<h1>{{score}}</h1>
<ol>
    {% for p in best_players %}
    <li>{{p.pseudo}} : {{p.score}}</li>
    {% endfor %}
</ol>
{% endblock content %}